In [64]:
import pandas as pd

pd.set_option('display.max_columns', 100)

# Flight Data

In [65]:
df = pd.read_csv('../data/raw/flights.csv', parse_dates=True)
df.head()

/var/folders/8l/_qddcffx71x8s26pmmgqthdm0000gq/T/ipykernel_70248/3237892480.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/raw/flights.csv', parse_dates=True)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,2354.0,-11.0,21.0,15.0,205.0,194.0,169.0,1448,404.0,4.0,430,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,2.0,-8.0,12.0,14.0,280.0,279.0,263.0,2330,737.0,4.0,750,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,18.0,-2.0,16.0,34.0,286.0,293.0,266.0,2296,800.0,11.0,806,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,15.0,-5.0,15.0,30.0,285.0,281.0,258.0,2342,748.0,8.0,805,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,24.0,-1.0,11.0,35.0,235.0,215.0,199.0,1448,254.0,5.0,320,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

## Glossary

- FL_DATE = Date of the Flight
- OP_CARRIER = Airline Identifier
- OP_CARRIER_FL_NUM = Flight Number
- ORIGIN = Starting Airport Code
- DEST = Destination Airport Code
- CRS_DEP_TIME = Planned Departure Time
- DEP_TIME = Actual Departure Time
- DEP_DELAY = Total Delay on Departure in minutes
- TAXI_OUT = The time duration elapsed between departure from the origin airport gate and wheels off
- WHEELS_OFF = The time point that the aircraft's wheels leave the ground
- WHEELS_ON = The time point that the aircraft'ss wheels touch on the ground
- TAXI_IN = The time duration elapsed between wheels-on and gate arrival at the destination airport
- CRS_ARR_TIME = Planned arrival time
- ARR_TIME = Actual Arrival Time = ARRIVAL_TIME - SCHEDULED_ARRIVAL
- ARR_DELAY = Total Delay on Arrival in minutes
- CANCELLED = Flight Cancelled (1 = cancelled)
- CANCELLATION_CODE = Reason for Cancellation of flight: A - Airline/Carrier; B - Weather; C - National Air System; D - Security
- DIVERTED = Aircraft landed on different airport that the one scheduled
- CRS_ELAPSED_TIME = Planned amount of time needed for the flight trip
- ACTUAL_ELAPSED_TIME = AIR_TIME+TAXI_IN+TAXI_OUT
- AIR_TIME = The time duration between wheels_off and wheels_on time
- DISTANCE = Distance between two airports
- CARRIER_DELAY = Delay caused by the airline in minutes
- WEATHER_DELAY = Delay caused by weather
- NAS_DELAY = Delay caused by air system
- SECURITY_DELAY = caused by security reasons
- LATE_AIRCRAFT_DELAY = Delay caused by security

In [66]:
df.shape

(5819079, 31)

In [67]:
df.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'],
      dtype='object')

In [68]:
cols = ['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'FLIGHT_NUMBER', 'AIRLINE', 'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'DEPARTURE_TIME', 'ARRIVAL_TIME', 'AIR_TIME', 'DISTANCE', 'DEPARTURE_DELAY', 'ARRIVAL_DELAY', 'DIVERTED', 'WEATHER_DELAY']
df[cols]

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,AIRLINE,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DEPARTURE_TIME,ARRIVAL_TIME,AIR_TIME,DISTANCE,DEPARTURE_DELAY,ARRIVAL_DELAY,DIVERTED,WEATHER_DELAY
0,2015,1,1,4,98,AS,N407AS,ANC,SEA,2354.0,408.0,169.0,1448,-11.0,-22.0,0,NaN
1,2015,1,1,4,2336,AA,N3KUAA,LAX,PBI,2.0,741.0,263.0,2330,-8.0,-9.0,0,NaN
2,2015,1,1,4,840,US,N171US,SFO,CLT,18.0,811.0,266.0,2296,-2.0,5.0,0,NaN
3,2015,1,1,4,258,AA,N3HYAA,LAX,MIA,15.0,756.0,258.0,2342,-5.0,-9.0,0,NaN
4,2015,1,1,4,135,AS,N527AS,SEA,ANC,24.0,259.0,199.0,1448,-1.0,-21.0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,12,31,4,688,B6,N657JB,LAX,BOS,2355.0,753.0,272.0,2611,-4.0,-26.0,0,NaN
5819075,2015,12,31,4,745,B6,N828JB,JFK,PSE,2355.0,430.0,195.0,1617,-4.0,-16.0,0,NaN
5819076,2015,12,31,4,1503,B6,N913JB,JFK,SJU,2350.0,432.0,197.0,1598,-9.0,-8.0,0,NaN
5819077,2015,12,31,4,333,B6,N527JB,MCO,SJU,2353.0,330.0,144.0,1189,-6.0,-10.0,0,NaN
5819078,2015,12,31,4,839,B6,N534JB,JFK,BQN,14.0,442.0,189.0,1576,15.0,2.0,0,NaN

## Joining the data with the airlines

In [69]:
df_merged = pd.DataFrame()

In [70]:
airline = pd.read_csv('../data/raw/airlines.csv')
df_merged = df[cols].merge(airline, left_on='AIRLINE', right_on='IATA_CODE', suffixes=('_CODE', '_NAME'))
df_merged.drop('IATA_CODE', axis=1, inplace=True)
df_merged

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,AIRLINE_CODE,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DEPARTURE_TIME,ARRIVAL_TIME,AIR_TIME,DISTANCE,DEPARTURE_DELAY,ARRIVAL_DELAY,DIVERTED,WEATHER_DELAY,AIRLINE_NAME
0,2015,1,1,4,98,AS,N407AS,ANC,SEA,2354.0,408.0,169.0,1448,-11.0,-22.0,0,NaN,Alaska Airlines Inc.
1,2015,1,1,4,135,AS,N527AS,SEA,ANC,24.0,259.0,199.0,1448,-1.0,-21.0,0,NaN,Alaska Airlines Inc.
2,2015,1,1,4,108,AS,N309AS,ANC,SEA,41.0,455.0,173.0,1448,-4.0,-14.0,0,NaN,Alaska Airlines Inc.
3,2015,1,1,4,122,AS,N413AS,ANC,PDX,46.0,507.0,187.0,1542,-4.0,-18.0,0,NaN,Alaska Airlines Inc.
4,2015,1,1,4,130,AS,N457AS,FAI,SEA,107.0,545.0,186.0,1533,-8.0,-3.0,0,NaN,Alaska Airlines Inc.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,12,31,4,769,VX,N622VA,LGA,DAL,1847.0,2154.0,231.0,1381,-8.0,-6.0,0,NaN,Virgin America
5819075,2015,12,31,4,357,VX,N284VA,BOS,SFO,1849.0,2204.0,357.0,2704,-10.0,-46.0,0,NaN,Virgin America
5819076,2015,12,31,4,1916,VX,N853VA,SFO,LAS,1933.0,2052.0,58.0,414,-7.0,-18.0,0,NaN,Virgin America
5819077,2015,12,31,4,490,VX,N840VA,LAX,LAS,1948.0,2044.0,39.0,236,-2.0,-11.0,0,NaN,Virgin America
5819078,2015,12,31,4,48,VX,N281VA,OGG,SFO,2318.0,548.0,258.0,2338,-2.0,-37.0,0,NaN,Virgin America

In [71]:
df_merged.query('MONTH == 10')

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,AIRLINE_CODE,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DEPARTURE_TIME,ARRIVAL_TIME,AIR_TIME,DISTANCE,DEPARTURE_DELAY,ARRIVAL_DELAY,DIVERTED,WEATHER_DELAY,AIRLINE_NAME
129645,2015,10,1,4,20,AS,N423AS,14747,13930,42.0,622.0,192.0,1721,-8.0,-22.0,0,NaN,Alaska Airlines Inc.
129646,2015,10,1,4,122,AS,N565AS,10299,14057,46.0,509.0,189.0,1542,-4.0,-11.0,0,NaN,Alaska Airlines Inc.
129647,2015,10,1,4,94,AS,N469AS,10299,14747,48.0,455.0,171.0,1448,-7.0,-15.0,0,NaN,Alaska Airlines Inc.
129648,2015,10,1,4,128,AS,N306AS,11630,14747,111.0,530.0,179.0,1533,-14.0,-30.0,0,NaN,Alaska Airlines Inc.
129649,2015,10,1,4,136,AS,N468AS,10299,14747,201.0,609.0,170.0,1448,6.0,-5.0,0,NaN,Alaska Airlines Inc.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5808126,2015,10,31,6,182,VX,N621VA,14771,11618,2230.0,531.0,283.0,2565,-5.0,-24.0,0,NaN,Virgin America
5808127,2015,10,31,6,260,VX,N849VA,12889,12478,2244.0,506.0,241.0,2248,-11.0,-49.0,0,NaN,Virgin America
5808128,2015,10,31,6,338,VX,N522VA,12892,11697,2252.0,537.0,269.0,2343,-3.0,-3.0,0,NaN,Virgin America
5808129,2015,10,31,6,358,VX,N842VA,14771,10721,2345.0,654.0,291.0,2704,-10.0,-41.0,0,NaN,Virgin America
5808130,2015,10,31,6,34,VX,N845VA,14771,12478,2358.0,705.0,280.0,2586,-1.0,-25.0,0,NaN,Virgin America

## Joining the data with the airports

In [72]:
airports = pd.read_csv('../data/raw/airports.csv')
df_merged_origin = df_merged.merge(airports[['IATA_CODE', 'AIRPORT']], left_on='ORIGIN_AIRPORT', right_on='IATA_CODE', how='left')
df_merged_origin.drop('IATA_CODE', axis=1, inplace=True)
df_merged_origin.rename(columns={'AIRPORT': 'ORIGIN_AIRPORT_NAME'}, inplace=True)
df_merged_origin.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,AIRLINE_CODE,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DEPARTURE_TIME,ARRIVAL_TIME,AIR_TIME,DISTANCE,DEPARTURE_DELAY,ARRIVAL_DELAY,DIVERTED,WEATHER_DELAY,AIRLINE_NAME,ORIGIN_AIRPORT_NAME
0,2015,1,1,4,98,AS,N407AS,ANC,SEA,2354.0,408.0,169.0,1448,-11.0,-22.0,0,NaN,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport
1,2015,1,1,4,135,AS,N527AS,SEA,ANC,24.0,259.0,199.0,1448,-1.0,-21.0,0,NaN,Alaska Airlines Inc.,Seattle-Tacoma International Airport
2,2015,1,1,4,108,AS,N309AS,ANC,SEA,41.0,455.0,173.0,1448,-4.0,-14.0,0,NaN,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport
3,2015,1,1,4,122,AS,N413AS,ANC,PDX,46.0,507.0,187.0,1542,-4.0,-18.0,0,NaN,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport
4,2015,1,1,4,130,AS,N457AS,FAI,SEA,107.0,545.0,186.0,1533,-8.0,-3.0,0,NaN,Alaska Airlines Inc.,Fairbanks International Airport

### Merge the airports with the destination airports

In [73]:
df_merged_destination = df_merged_origin.merge(airports[['IATA_CODE', 'AIRPORT']], left_on='DESTINATION_AIRPORT', right_on='IATA_CODE', how='left')
df_merged_destination.drop('IATA_CODE', axis=1, inplace=True)
df_merged_destination.rename(columns={'AIRPORT': 'DESTINATION_AIRPORT_NAME'}, inplace=True)
df_merged_destination.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,AIRLINE_CODE,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DEPARTURE_TIME,ARRIVAL_TIME,AIR_TIME,DISTANCE,DEPARTURE_DELAY,ARRIVAL_DELAY,DIVERTED,WEATHER_DELAY,AIRLINE_NAME,ORIGIN_AIRPORT_NAME,DESTINATION_AIRPORT_NAME
0,2015,1,1,4,98,AS,N407AS,ANC,SEA,2354.0,408.0,169.0,1448,-11.0,-22.0,0,NaN,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Seattle-Tacoma International Airport
1,2015,1,1,4,135,AS,N527AS,SEA,ANC,24.0,259.0,199.0,1448,-1.0,-21.0,0,NaN,Alaska Airlines Inc.,Seattle-Tacoma International Airport,Ted Stevens Anchorage International Airport
2,2015,1,1,4,108,AS,N309AS,ANC,SEA,41.0,455.0,173.0,1448,-4.0,-14.0,0,NaN,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Seattle-Tacoma International Airport
3,2015,1,1,4,122,AS,N413AS,ANC,PDX,46.0,507.0,187.0,1542,-4.0,-18.0,0,NaN,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Portland International Airport
4,2015,1,1,4,130,AS,N457AS,FAI,SEA,107.0,545.0,186.0,1533,-8.0,-3.0,0,NaN,Alaska Airlines Inc.,Fairbanks International Airport,Seattle-Tacoma International Airport

### Add the origin and destination airports to the flights

In [74]:
df_merged = df_merged_destination.copy()

## Add new columns

In [75]:
df_merged['FLIGHT_DATE'] = pd.to_datetime(df_merged[['YEAR', 'MONTH', 'DAY']])
df_merged['Delayed'] = df_merged['ARRIVAL_DELAY'] > 15
df_merged.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,AIRLINE_CODE,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DEPARTURE_TIME,ARRIVAL_TIME,AIR_TIME,DISTANCE,DEPARTURE_DELAY,ARRIVAL_DELAY,DIVERTED,WEATHER_DELAY,AIRLINE_NAME,ORIGIN_AIRPORT_NAME,DESTINATION_AIRPORT_NAME,FLIGHT_DATE,Delayed
0,2015,1,1,4,98,AS,N407AS,ANC,SEA,2354.0,408.0,169.0,1448,-11.0,-22.0,0,NaN,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Seattle-Tacoma International Airport,2015-01-01,False
1,2015,1,1,4,135,AS,N527AS,SEA,ANC,24.0,259.0,199.0,1448,-1.0,-21.0,0,NaN,Alaska Airlines Inc.,Seattle-Tacoma International Airport,Ted Stevens Anchorage International Airport,2015-01-01,False
2,2015,1,1,4,108,AS,N309AS,ANC,SEA,41.0,455.0,173.0,1448,-4.0,-14.0,0,NaN,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Seattle-Tacoma International Airport,2015-01-01,False
3,2015,1,1,4,122,AS,N413AS,ANC,PDX,46.0,507.0,187.0,1542,-4.0,-18.0,0,NaN,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Portland International Airport,2015-01-01,False
4,2015,1,1,4,130,AS,N457AS,FAI,SEA,107.0,545.0,186.0,1533,-8.0,-3.0,0,NaN,Alaska Airlines Inc.,Fairbanks International Airport,Seattle-Tacoma International Airport,2015-01-01,False

## Cleaning the Data

In [76]:
df_merged.isnull().sum()

YEAR                              0
MONTH                             0
DAY                               0
DAY_OF_WEEK                       0
FLIGHT_NUMBER                     0
AIRLINE_CODE                      0
TAIL_NUMBER                   14721
ORIGIN_AIRPORT                    0
DESTINATION_AIRPORT               0
DEPARTURE_TIME                86153
ARRIVAL_TIME                  92513
AIR_TIME                     105071
DISTANCE                          0
DEPARTURE_DELAY               86153
ARRIVAL_DELAY                105071
DIVERTED                          0
WEATHER_DELAY               4755640
AIRLINE_NAME                      0
ORIGIN_AIRPORT_NAME          486165
DESTINATION_AIRPORT_NAME     486165
FLIGHT_DATE                       0
Delayed                           0
dtype: int64

In [77]:
df_merged.dropna(subset=['TAIL_NUMBER', 'ARRIVAL_TIME', 'ARRIVAL_DELAY'], inplace=True)
df_merged.isnull().sum()

YEAR                              0
MONTH                             0
DAY                               0
DAY_OF_WEEK                       0
FLIGHT_NUMBER                     0
AIRLINE_CODE                      0
TAIL_NUMBER                       0
ORIGIN_AIRPORT                    0
DESTINATION_AIRPORT               0
DEPARTURE_TIME                    0
ARRIVAL_TIME                      0
AIR_TIME                          0
DISTANCE                          0
DEPARTURE_DELAY                   0
ARRIVAL_DELAY                     0
DIVERTED                          0
WEATHER_DELAY               4650569
AIRLINE_NAME                      0
ORIGIN_AIRPORT_NAME          482878
DESTINATION_AIRPORT_NAME     482878
FLIGHT_DATE                       0
Delayed                           0
dtype: int64

In [78]:
# replace 0 with mean
df_merged = df_merged.replace({'WEATHER_DELAY': {0: df_merged[df_merged.WEATHER_DELAY > 0].WEATHER_DELAY.mean()}})
df_merged[~df_merged.WEATHER_DELAY.isnull()].head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,AIRLINE_CODE,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DEPARTURE_TIME,ARRIVAL_TIME,AIR_TIME,DISTANCE,DEPARTURE_DELAY,ARRIVAL_DELAY,DIVERTED,WEATHER_DELAY,AIRLINE_NAME,ORIGIN_AIRPORT_NAME,DESTINATION_AIRPORT_NAME,FLIGHT_DATE,Delayed
38,2015,1,1,4,709,AS,N769AS,SLC,SJC,747.0,833.0,75.0,584,67.0,50.0,0,50.000000,Alaska Airlines Inc.,Salt Lake City International Airport,Norman Y. Mineta San José International Airport,2015-01-01,True
53,2015,1,1,4,531,AS,N529AS,BUR,SEA,904.0,1130.0,132.0,937,124.0,120.0,0,120.000000,Alaska Airlines Inc.,Bob Hope Airport (Hollywood Burbank Airport),Seattle-Tacoma International Airport,2015-01-01,True
58,2015,1,1,4,847,AS,N558AS,SAN,OGG,656.0,1121.0,362.0,2541,-4.0,24.0,0,47.905201,Alaska Airlines Inc.,San Diego International Airport (Lindbergh Field),Kahului Airport,2015-01-01,True
64,2015,1,1,4,222,AS,N315AS,SEA,SFO,728.0,955.0,99.0,679,8.0,26.0,0,47.905201,Alaska Airlines Inc.,Seattle-Tacoma International Airport,San Francisco International Airport,2015-01-01,True
66,2015,1,1,4,865,AS,N516AS,OAK,OGG,739.0,1118.0,322.0,2349,19.0,29.0,0,47.905201,Alaska Airlines Inc.,Oakland International Airport,Kahului Airport,2015-01-01,True

In [79]:
df_merged.WEATHER_DELAY.fillna(0, inplace=True)
df_merged.isnull().sum()

YEAR                             0
MONTH                            0
DAY                              0
DAY_OF_WEEK                      0
FLIGHT_NUMBER                    0
AIRLINE_CODE                     0
TAIL_NUMBER                      0
ORIGIN_AIRPORT                   0
DESTINATION_AIRPORT              0
DEPARTURE_TIME                   0
ARRIVAL_TIME                     0
AIR_TIME                         0
DISTANCE                         0
DEPARTURE_DELAY                  0
ARRIVAL_DELAY                    0
DIVERTED                         0
WEATHER_DELAY                    0
AIRLINE_NAME                     0
ORIGIN_AIRPORT_NAME         482878
DESTINATION_AIRPORT_NAME    482878
FLIGHT_DATE                      0
Delayed                          0
dtype: int64

In [80]:
# check duplicated rows
df_merged.duplicated().sum()

0

# Weather Data

In [81]:
weather = pd.read_csv('../data/raw/weather_table.csv')
weather

,STATION,NAME,DATE,AWND,PRCP,SNOW,TMAX,TMIN,airport_code
0,USW00024131,"BOISE AIR TERMINAL, ID US",2015-01-01,2.01,0.00,0.0,18.0,6.0,BOI
1,USW00024131,"BOISE AIR TERMINAL, ID US",2015-01-02,3.36,0.00,0.0,20.0,8.0,BOI
2,USW00024131,"BOISE AIR TERMINAL, ID US",2015-01-03,3.36,0.00,0.0,25.0,12.0,BOI
3,USW00024131,"BOISE AIR TERMINAL, ID US",2015-01-04,1.12,0.02,0.1,32.0,19.0,BOI
4,USW00024131,"BOISE AIR TERMINAL, ID US",2015-01-05,3.58,0.11,0.1,39.0,29.0,BOI
...,...,...,...,...,...,...,...,...,...
21889,USW00023234,"SAN FRANCISCO INTERNATIONAL AIRPORT, CA US",2015-12-27,4.47,0.01,0.0,48.0,34.0,SFO
21890,USW00023234,"SAN FRANCISCO INTERNATIONAL AIRPORT, CA US",2015-12-28,5.14,0.11,0.0,48.0,41.0,SFO
21891,USW00023234,"SAN FRANCISCO INTERNATIONAL AIRPORT, CA US",2015-12-29,2.91,0.00,0.0,54.0,36.0,SFO
21892,USW00023234,"SAN FRANCISCO INTERNATIONAL AIRPORT, CA US",2015-12-30,6.93,0.01,0.0,49.0,40.0,SFO
21893,USW00023234,"SAN FRANCISCO INTERNATIONAL AIRPORT, CA US",2015-12-31,8.05,0.00,0.0,51.0,39.0,SFO

In [82]:
weather.isnull().sum()

STATION         0
NAME            0
DATE            0
AWND            0
PRCP            0
SNOW            0
TMAX            0
TMIN            0
airport_code    0
dtype: int64

In [83]:
weather.dtypes

STATION          object
NAME             object
DATE             object
AWND            float64
PRCP            float64
SNOW            float64
TMAX            float64
TMIN            float64
airport_code     object
dtype: object

In [84]:
weather.DATE = pd.to_datetime(weather.DATE)
weather.dtypes

STATION                 object
NAME                    object
DATE            datetime64[ns]
AWND                   float64
PRCP                   float64
SNOW                   float64
TMAX                   float64
TMIN                   float64
airport_code            object
dtype: object

In [85]:
cols = ['DATE', 'AWND', 'PRCP', 'SNOW', 'TMAX', 'TMIN', 'airport_code']
df_merged_weather = pd.merge_ordered(df_merged, weather[cols], left_on=('DESTINATION_AIRPORT', 'FLIGHT_DATE'), right_on=('airport_code', 'DATE'), how='inner')
df_merged_weather.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,AIRLINE_CODE,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DEPARTURE_TIME,ARRIVAL_TIME,AIR_TIME,DISTANCE,DEPARTURE_DELAY,ARRIVAL_DELAY,DIVERTED,WEATHER_DELAY,AIRLINE_NAME,ORIGIN_AIRPORT_NAME,DESTINATION_AIRPORT_NAME,FLIGHT_DATE,Delayed,DATE,AWND,PRCP,SNOW,TMAX,TMIN,airport_code
0,2015,1,1,4,794,AS,N614AS,SEA,ABQ,1032.0,1427.0,154.0,1180,-8.0,-13.0,0,0.0,Alaska Airlines Inc.,Seattle-Tacoma International Airport,Albuquerque International Sunport,2015-01-01,False,2015-01-01,4.92,0.02,0.3,33.0,15.0,ABQ
1,2015,1,1,4,1024,AA,N505AA,DFW,ABQ,1408.0,1500.0,91.0,569,8.0,10.0,0,0.0,American Airlines Inc.,Dallas/Fort Worth International Airport,Albuquerque International Sunport,2015-01-01,False,2015-01-01,4.92,0.02,0.3,33.0,15.0,ABQ
2,2015,1,1,4,1203,AA,N4XPAA,DFW,ABQ,1853.0,1953.0,88.0,569,13.0,23.0,0,7.0,American Airlines Inc.,Dallas/Fort Worth International Airport,Albuquerque International Sunport,2015-01-01,True,2015-01-01,4.92,0.02,0.3,33.0,15.0,ABQ
3,2015,1,1,4,2388,AA,N486AA,DFW,ABQ,2126.0,2210.0,87.0,569,11.0,10.0,0,0.0,American Airlines Inc.,Dallas/Fort Worth International Airport,Albuquerque International Sunport,2015-01-01,False,2015-01-01,4.92,0.02,0.3,33.0,15.0,ABQ
4,2015,1,1,4,2115,DL,N959DL,MSP,ABQ,912.0,1124.0,141.0,981,-3.0,11.0,0,0.0,Delta Air Lines Inc.,Minneapolis-Saint Paul International Airport,Albuquerque International Sunport,2015-01-01,False,2015-01-01,4.92,0.02,0.3,33.0,15.0,ABQ

In [86]:
df_merged_weather.shape

(3842061, 29)

In [87]:
df_merged_weather.isnull().sum()

YEAR                        0
MONTH                       0
DAY                         0
DAY_OF_WEEK                 0
FLIGHT_NUMBER               0
AIRLINE_CODE                0
TAIL_NUMBER                 0
ORIGIN_AIRPORT              0
DESTINATION_AIRPORT         0
DEPARTURE_TIME              0
ARRIVAL_TIME                0
AIR_TIME                    0
DISTANCE                    0
DEPARTURE_DELAY             0
ARRIVAL_DELAY               0
DIVERTED                    0
WEATHER_DELAY               0
AIRLINE_NAME                0
ORIGIN_AIRPORT_NAME         0
DESTINATION_AIRPORT_NAME    0
FLIGHT_DATE                 0
Delayed                     0
DATE                        0
AWND                        0
PRCP                        0
SNOW                        0
TMAX                        0
TMIN                        0
airport_code                0
dtype: int64

In [88]:
"""changing the column names from snake case to camel case"""

# change the column names from upper case to lower case
df_merged_weather.columns = df_merged_weather.columns.str.lower().str.replace('_', ' ')
# change the first letter of each column name to upper case
df_merged_weather.columns = df_merged_weather.columns.str.title()
df_merged_weather.columns = df_merged_weather.columns.str.replace(' ', '')
df_merged_weather.columns

# change the column names from upper case to lower case
df_merged.columns = df_merged.columns.str.lower().str.replace('_', ' ')
# change the first letter of each column name to upper case
df_merged.columns = df_merged.columns.str.title()
df_merged.columns = df_merged.columns.str.replace(' ', '')
df_merged.columns

Index(['Year', 'Month', 'Day', 'DayOfWeek', 'FlightNumber', 'AirlineCode',
       'TailNumber', 'OriginAirport', 'DestinationAirport', 'DepartureTime',
       'ArrivalTime', 'AirTime', 'Distance', 'DepartureDelay', 'ArrivalDelay',
       'Diverted', 'WeatherDelay', 'AirlineName', 'OriginAirportName',
       'DestinationAirportName', 'FlightDate', 'Delayed'],
      dtype='object')

In [89]:
df_merged_weather.to_csv('../data/processed/flights_weather.csv', index=False)
df_merged.to_csv('../data/processed/flights.csv', index=False)

: