In [24]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [25]:
merged_weather_flight = pd.read_csv('../data/processed/flights_weather.csv')
merged_weather_flight

,Year,Month,Day,DayOfWeek,FlightNumber,AirlineCode,TailNumber,OriginAirport,DestinationAirport,DepartureTime,...,DestinationAirportName,FlightDate,Delayed,Date,Awnd,Prcp,Snow,Tmax,Tmin,AirportCode
0,2015,1,1,4,5267,EV,N131EV,ATL,ABE,1333.0,...,Lehigh Valley International Airport,2015-01-01,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,5411,EV,N849AS,DTW,ABE,1521.0,...,Lehigh Valley International Airport,2015-01-01,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,4311,EV,N15912,ORD,ABE,1812.0,...,Lehigh Valley International Airport,2015-01-01,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,5072,EV,N538CA,ATL,ABE,2101.0,...,Lehigh Valley International Airport,2015-01-01,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,2,5,5267,EV,N131EV,ATL,ABE,1333.0,...,Lehigh Valley International Airport,2015-01-02,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005499,2015,3,9,1,2778,OO,N944SW,PHX,YUM,1634.0,...,Yuma International Airport,2015-03-09,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1005500,2015,3,9,1,2757,OO,N468CA,PHX,YUM,2129.0,...,Yuma International Airport,2015-03-09,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1005501,2015,3,10,2,2806,OO,N821AS,PHX,YUM,718.0,...,Yuma International Airport,2015-03-10,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1005502,2015,3,10,2,2790,OO,N889AS,PHX,YUM,846.0,...,Yuma International Airport,2015-03-10,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1005503,2015,3,10,2,2772,OO,N477CA,PHX,YUM,1014.0,...,Yuma International Airport,2015-03-10,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
merged_weather_flight['Delayed'].unique()

array([0, 1], dtype=int64)

In [27]:
merged_weather_flight = merged_weather_flight[['DayOfWeek', 'AirlineCode', 'OriginAirport', 'DestinationAirport', 'DepartureTime',
       'ArrivalTime', 'AirTime', 'Distance', 'Delayed',
       'Diverted', 'WeatherDelay', 'FlightDate', 'Date', 'Awnd', 'Prcp', 'Snow', 'Tmax', 'Tmin']]
merged_weather_flight

,DayOfWeek,AirlineCode,OriginAirport,DestinationAirport,DepartureTime,ArrivalTime,AirTime,Distance,Delayed,Diverted,WeatherDelay,FlightDate,Date,Awnd,Prcp,Snow,Tmax,Tmin
0,4,EV,ATL,ABE,1333.0,1526.0,94.0,692,0,0,0.0,2015-01-01,NaN,NaN,NaN,NaN,NaN,NaN
1,4,EV,DTW,ABE,1521.0,1632.0,55.0,425,0,0,0.0,2015-01-01,NaN,NaN,NaN,NaN,NaN,NaN
2,4,EV,ORD,ABE,1812.0,2057.0,77.0,654,0,0,0.0,2015-01-01,NaN,NaN,NaN,NaN,NaN,NaN
3,4,EV,ATL,ABE,2101.0,2249.0,85.0,692,0,0,0.0,2015-01-01,NaN,NaN,NaN,NaN,NaN,NaN
4,5,EV,ATL,ABE,1333.0,1508.0,84.0,692,0,0,0.0,2015-01-02,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005499,1,OO,PHX,YUM,1634.0,1717.0,26.0,160,0,0,0.0,2015-03-09,NaN,NaN,NaN,NaN,NaN,NaN
1005500,1,OO,PHX,YUM,2129.0,2230.0,30.0,160,0,0,0.0,2015-03-09,NaN,NaN,NaN,NaN,NaN,NaN
1005501,2,OO,PHX,YUM,718.0,815.0,31.0,160,0,0,0.0,2015-03-10,NaN,NaN,NaN,NaN,NaN,NaN
1005502,2,OO,PHX,YUM,846.0,1012.0,30.0,160,1,0,0.0,2015-03-10,NaN,NaN,NaN,NaN,NaN,NaN
1005503,2,OO,PHX,YUM,1014.0,1108.0,34.0,160,0,0,0.0,2015-03-10,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
merged_weather_flight.columns

Index(['DayOfWeek', 'AirlineCode', 'OriginAirport', 'DestinationAirport',
       'DepartureTime', 'ArrivalTime', 'AirTime', 'Distance', 'Delayed',
       'Diverted', 'WeatherDelay', 'FlightDate', 'Date', 'Awnd', 'Prcp',
       'Snow', 'Tmax', 'Tmin'],
      dtype='object')

In [29]:
merged_weather_flight.dropna(subset=['Date', 'Awnd', 'Prcp', 'Snow', 'Tmax', 'Tmin'], inplace=True)

In [30]:
merged_weather_flight = merged_weather_flight.sample(n=10000, random_state=42)

In [31]:
from imblearn.over_sampling import RandomOverSampler

ros = RandomOverSampler(random_state=0)
X_resampled, y_resampled = ros.fit_resample(merged_weather_flight.drop(columns=['Delayed']), merged_weather_flight['Delayed'])

In [32]:
X_resampled = pd.get_dummies(X_resampled)

In [33]:
print(y_resampled)

0        0
1        0
2        1
3        0
4        0
        ..
15557    1
15558    1
15559    1
15560    1
15561    1
Name: Delayed, Length: 15562, dtype: int64

In [34]:
print(X_resampled)

       DayOfWeek  DepartureTime  ArrivalTime  AirTime  Distance  Diverted
0              6          818.0        927.0    228.0      1747         0  \
1              2          612.0        617.0     42.0       157         0
2              2          727.0       1621.0    290.0      2454         0
3              4          635.0        912.0     78.0       628         0
4              1         1817.0       1950.0     68.0       432         0
...          ...            ...          ...      ...       ...       ...
15557          6         1833.0       2023.0    154.0       922         0
15558          1          956.0       1246.0    196.0      1303         0
15559          7         1908.0       2227.0    110.0       794         0
15560          6         1432.0       1555.0     64.0       447         0
15561          4         1517.0       1740.0    114.0       802         0

       WeatherDelay   Awnd  Prcp  Snow  ...  Date_2015-03-01  Date_2015-03-02
0               0.0  13.65  0.00   0.0  ...            False            False  \
1               0.0   6.04  0.00   0.0  ...            False            False
2               0.0   6.49  0.05   1.0  ...            False            False
3               0.0   9.17  0.00   0.0  ...            False            False
4               0.0   5.59  0.05   0.0  ...            False             True
...             ...    ...   ...   ...  ...              ...              ...
15557           0.0  13.20  0.00   0.0  ...            False            False
15558           0.0   7.61  0.65   0.0  ...            False            False
15559           0.0  11.41  0.00   0.0  ...            False            False
15560           0.0   4.03  0.00   0.0  ...            False            False
15561           0.0  13.87  0.01   0.1  ...            False            False

       Date_2015-03-03  Date_2015-03-04  Date_2015-03-05  Date_2015-03-06
0                False            False            False            False  \
1                False            False            False            False
2                False            False            False            False
3                False            False            False            False
4                False            False            False            False
...                ...              ...              ...              ...
15557            False            False            False            False
15558            False            False            False            False
15559            False            False            False            False
15560            False            False            False            False
15561            False            False            False            False

       Date_2015-03-07  Date_2015-03-08  Date_2015-03-09  Date_2015-03-10
0                False            False            False            False
1                False            False            False            False
2                False            False            False            False
3                False            False            False            False
4                False            False            False            False
...                ...              ...              ...              ...
15557            False            False            False            False
15558            False            False             True            False
15559            False            False            False            False
15560            False            False            False            False
15561            False            False            False            False

[15562 rows x 503 columns]

In [35]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

models = {"Logistic Regression": LogisticRegression(),
          "Random Forest": RandomForestClassifier(n_estimators=10)}
results = []
for model in models.values():
    kf = KFold(n_splits=6, random_state=42, shuffle=True)
    cv_scores = cross_val_score(model, X_resampled, y_resampled, cv=kf)
    results.append(cv_scores)

results_df = pd.DataFrame(results, index=models.keys())
results_df.columns = ['Fold 1', 'Fold 2', 'Fold 3', 'Fold 4', 'Fold 5', 'Fold 6']
results_df

,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Fold 6
Logistic Regression,0.619507,0.630686,0.630686,0.641866,0.628230,0.627844
Random Forest,0.922128,0.924441,0.924056,0.928296,0.938681,0.935981